

.MuiButton-root:enabled {
  background-color: #9eafff; 
  justify-content: center;
  margin-left: 15px;
  color: white;
  &:hover {
    background-color: #7d9aff;
  }
}

.country-table {
  display: flex;
  justify-content: center;


}
