$primary-color: #9eafff;
$secondary-color: #a6c6ff;
$background-color: #f7f9fc;
$button-hover-color: #8a94ff;
$input-border-color: #d1d9e6;
$button-text-color: white;
$input-focus-color: #8a94ff;

form {
  background-color: $background-color;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="file"] {
    width: 100%;
    padding: 0.8rem;
    margin: 0.8rem 0;
    border: 1px solid $input-border-color;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    color: #333;
    transition: all 0.3s ease;

    &:focus {
      outline: none;
      border-color: $input-focus-color;
    }
  }

  button {
    width: 100%;
    padding: 0.8rem;
    background-color: $primary-color;
    border: none;
    border-radius: 8px;
    color: $button-text-color;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $button-hover-color;
    }
  }
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
}

input[type="file"] {
  background-color: #f1f5fb;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
}

input[type="file"]:focus {
  outline: none;
}

h2 {
  text-align: center;
  color: $primary-color;
  margin-bottom: 1.5rem;
}
